body {
    background-color: white;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}

.nombre {
    font-size: 4em;
    line-height:1em;
}

.ninja {
    color: #343a40;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #343a40
}

.page-footer {
    background-color: #343a40;
    height: 100%;
    color: white;
    position: sticky;
    bottom:0;
    width:100%;
    height:60px;
    margin-top: 11.77%;
}

.savetemps {
    text-align: center;
}

.derniertemps {
    margin-top: 2%;
}

.alert{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50%;
    margin-top: 2%;
}

#boardTime {
    list-style: none;
    margin-right: 40px;
}

#boardName {
    list-style: none;
}

li {
    width: 8em;
    list-style: none;
    background-color: #343a40;
    color: white;
}

.title {
    background-color: #343a40;
    color: white;
}

li:last-child {
    border-bottom: 2px solid #343a40;
}

.board {
    display: flex;
    justify-content: center;
}

.title-time {
    margin-right: 40px; 
}

@media print {
    .beHidden {
        display: none;
    }
    * {
        color: black !important;
    }
}