body {
    background-color: white;
    background-repeat: no-repeat;
}

.nombre {
    font-size: 4em;
    line-height:1em;
}

.page-footer {
    background-color: #343a40;
    margin-top: 50%;
    color: white;
}
